webhook/cloudformation-template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Lambda webhook for GitHub push events - boundary-issues-webhook'

Parameters:
  BootstrapS3Bucket:
    Type: String
    Description: S3 bucket containing the Lambda deployment package

  WebhookZipS3Key:
    Type: String
    Description: S3 key for the Lambda deployment package (ZIP file)

  ProcessorImageUri:
    Type: String
    Description: URI of the Docker image for the processor Lambda function

  GitHubSecretName:
    Type: String
    Description: Name of the Secrets Manager secret containing the GitHub token (from bootstrap stack)

Resources:
  # IAM Role for Lambda execution
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: StartStateMachineExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !GetAtt ProcessorStateMachine.Arn
        - PolicyName: ReadGitHubSecret
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${GitHubSecretName}*'
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-WebhookFunction'
        - Key: ManagedBy
          Value: CloudFormation

  # Lambda Function
  WebhookFunction:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: python3.14
      Handler: webhook.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Code:
        S3Bucket: !Ref BootstrapS3Bucket
        S3Key: !Ref WebhookZipS3Key
      Timeout: 30
      MemorySize: 128
      Description: GitHub webhook handler for boundary issues
      Environment:
        Variables:
          STATE_MACHINE_ARN: !GetAtt ProcessorStateMachine.Arn
          GITHUB_SECRET_ARN: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${GitHubSecretName}'
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-WebhookFunction'
        - Key: ManagedBy
          Value: CloudFormation

  # Lambda Function URL
  WebhookFunctionUrl:
    Type: AWS::Lambda::Url
    Properties:
      TargetFunctionArn: !GetAtt WebhookFunction.Arn
      AuthType: NONE
      Cors:
        AllowOrigins:
          - '*'
        AllowMethods:
          - '*'
        AllowHeaders:
          - '*'

  # Permission for public access via Function URL
  WebhookFunctionUrlPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref WebhookFunction
      Action: lambda:InvokeFunctionUrl
      Principal: '*'
      FunctionUrlAuthType: NONE

  # Additional permission for public invocation
  WebhookFunctionInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref WebhookFunction
      Action: lambda:InvokeFunction
      Principal: '*'

  # Note: ECR Repository is now managed by the bootstrap stack

  # IAM Role for finish Lambda function
  FinishFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-FinishFunctionRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ReadGitHubSecret
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${GitHubSecretName}*'
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-FinishFunction'
        - Key: ManagedBy
          Value: CloudFormation

  # Finish Lambda function for updating GitHub PR status
  FinishFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-finish-function'
      Runtime: python3.14
      Handler: finish.lambda_handler
      Role: !GetAtt FinishFunctionRole.Arn
      Code:
        S3Bucket: !Ref BootstrapS3Bucket
        S3Key: !Ref WebhookZipS3Key
      Timeout: 30
      MemorySize: 128
      Description: Updates GitHub PR status with state machine execution result
      Environment:
        Variables:
          GITHUB_SECRET_ARN: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${GitHubSecretName}'
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-FinishFunction'
        - Key: ManagedBy
          Value: CloudFormation

  # IAM Role for processor Lambda function
  ProcessorFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-ProcessorFunctionRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ReadGitHubSecret
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${GitHubSecretName}*'
        - PolicyName: StepFunctionsTaskCallbacks
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:SendTaskSuccess
                  - states:SendTaskFailure
                Resource: '*'
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-ProcessorFunction'
        - Key: ManagedBy
          Value: CloudFormation

  # Docker Lambda function for processing PRs
  ProcessorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-processor-function'
      PackageType: Image
      Code:
        ImageUri: !Ref ProcessorImageUri
      Role: !GetAtt ProcessorFunctionRole.Arn
      Timeout: 300
      MemorySize: 1024
      Architectures:
        - arm64
      Environment:
        Variables:
          GITHUB_SECRET_ARN: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${GitHubSecretName}'
      Description: Processes GitHub PR events by cloning and checking out commits
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-ProcessorFunction'
        - Key: ManagedBy
          Value: CloudFormation

  # IAM Role for Task Lambda function
  TaskFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-TaskFunctionRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: InvokeProcessorFunction
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt ProcessorFunction.Arn
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-TaskFunction'
        - Key: ManagedBy
          Value: CloudFormation

  # Task Lambda function for async processor invocation
  TaskFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-task-function'
      Runtime: python3.14
      Handler: task.lambda_handler
      Role: !GetAtt TaskFunctionRole.Arn
      Code:
        S3Bucket: !Ref BootstrapS3Bucket
        S3Key: !Ref WebhookZipS3Key
      Timeout: 30
      MemorySize: 128
      Description: Invokes processor function asynchronously with task token
      Environment:
        Variables:
          PROCESSOR_FUNCTION_ARN: !GetAtt ProcessorFunction.Arn
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-TaskFunction'
        - Key: ManagedBy
          Value: CloudFormation

  # IAM Role for Step Functions state machine
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-StateMachineRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeTaskFunction
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt TaskFunction.Arn
        - PolicyName: InvokeFinishFunction
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt FinishFunction.Arn
        - PolicyName: CloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: '*'
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-StateMachine'
        - Key: ManagedBy
          Value: CloudFormation

  # Step Functions state machine
  ProcessorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-processor'
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Process GitHub PR events asynchronously with task token callback",
          "StartAt": "InvokeTask",
          "States": {
            "InvokeTask": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${TaskFunction.Arn}",
                "Payload": {
                  "taskToken.$": "$$.Task.Token",
                  "action.$": "$.action",
                  "number.$": "$.number",
                  "pull_request.$": "$.pull_request",
                  "repository.$": "$.repository"
                }
              },
              "ResultPath": "$.taskResult",
              "Next": "ReportSuccess",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "ReportFailure",
                  "ResultPath": "$.error"
                }
              ]
            },
            "ReportSuccess": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${FinishFunction.Arn}",
                "Payload": {
                  "status": "success",
                  "executionArn.$": "$$.Execution.Id",
                  "action.$": "$.action",
                  "number.$": "$.number",
                  "pull_request.$": "$.pull_request",
                  "repository.$": "$.repository"
                }
              },
              "End": true
            },
            "ReportFailure": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${FinishFunction.Arn}",
                "Payload": {
                  "status": "failure",
                  "executionArn.$": "$$.Execution.Id",
                  "action.$": "$.action",
                  "number.$": "$.number",
                  "pull_request.$": "$.pull_request",
                  "repository.$": "$.repository"
                }
              },
              "End": true
            }
          }
        }
      Tags:
        - Key: Application
          Value: !Sub '${AWS::StackName}-StateMachine'
        - Key: ManagedBy
          Value: CloudFormation

Outputs:
  WebhookUrl:
    Description: Public URL for the webhook Lambda function
    Value: !GetAtt WebhookFunctionUrl.FunctionUrl
    Export:
      Name: !Sub '${AWS::StackName}-WebhookUrl'

  FunctionArn:
    Description: ARN of the Lambda function
    Value: !GetAtt WebhookFunction.Arn
    Export:
      Name: !Sub '${AWS::StackName}-FunctionArn'

  StateMachineArn:
    Description: ARN of the Step Functions state machine
    Value: !GetAtt ProcessorStateMachine.Arn
    Export:
      Name: !Sub '${AWS::StackName}-StateMachineArn'

  ProcessorFunctionName:
    Description: Name of the processor Lambda function
    Value: !Ref ProcessorFunction

  ProcessorLogGroupName:
    Description: CloudWatch Log Group name for processor Lambda logs
    Value: !Sub '/aws/lambda/${ProcessorFunction}'
